button {
    margin: 5px;
  }

.animation-container {
    margin: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

#field {
    border: 2px solid #000; /* Field border */
    background-image: url(./img/alibionbg.jpg); /* Light background for the field */
}

#ball {
    border-radius: 50%; /* Make the ball circular */
    background-color: lightskyblue;
    position: absolute; /* Required for positioning */
    transition: left 0.025s, top 0.025s; /* Smooth transition for movement */
}

/* Add styles for different ball types */
.basketball {
    background-image: url(./img/basketball.png);
    background-size: cover ;

}

.football {
    background-image: url(./img/football.png);
    background-size: cover ;
}

.volleyball {
    background-image: url(./img/volleyball.png);
    background-size: cover ;
}

.human {
    background-image: url(./img/human.png);
    background-size: cover ;
}

.cartoon {
    background-image: url(./img/cartoon1.png);
    background-size: cover ;
}

.logo {
    background-image: url(./img/cartoon.png);
    background-size: cover ;
}
